a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

.libs
.deps
*.o
*.a
*.lo
*.la
*.lai
*.so
*.so.*
*.gcov
*.gcda
*.gcno

*.info
*.html
*~
libsecrm.3

libsecrm.pc
libsecrm.spec
libtool
libsecrm.h
lsr_cfg.h
lsr_paths.h
lsr_priv.h
lsr_public.c

lsrtest
lsrtest_banning
lsrtest_creat
lsrtest_fopens
lsrtest_memory
lsrtest_opens
lsrtest_other
lsrtest_truncate
lsrtest_unlink
*.log
*.trs
