a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

.libs
*.o
*.a
*.lo
*.la
*.lai
*.so
*.so.*

*.info
*~

lsrtest
lsrtest_banning
lsrtest_creat
lsrtest_fopens
lsrtest_memory
lsrtest_opens
lsrtest_other
lsrtest_truncate
lsrtest_unlink
*.log
*.trs
